// Place all the styles related to the Resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: url('seigaiha.png');
  background-repeat: repeat;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 2.5em;
}

h3 {
  font-family: 'Anton', sans-serif;
  font-size: 1.5em;
}

p {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.2em;
}

img {
  width: 10em;
  height: auto;
}

hr {
  height: 12px;
  width: 95%;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}